* {
    padding: 0px;
    margin: 5px;
    background-color:rgb(203, 193, 203);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    

}

/* .round-button {
    border-radius: 200px;
    color: whitesmoke;
    background-color: rgb(22, 22, 185);
    margin-top: '30px';
    margin-bottom: '18px';
    padding: 4px;
    font-weight: bold;


} */

.round-button:hover {
    cursor: pointer;
    color: yellow;
}

.contain-table{
    font-size: 15px;
    color: black;
    font-weight: 400;
}

.button1 {
    color: green;

}
.button2{
    color: red;
}
h1{
    color: rgb(10, 25, 90);
}
h1:hover{
    color: yellow;
}